/* Algemene stijlen */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li button {
    background-color: #f44336;
    margin-left: 10px;
  }
  
  li button:hover {
    background-color: #e53935;
  }
  li button:first-child {
    background-color: #4CAF50; /* Groene knop voor bijwerken */
  }
  
  li button:first-child:hover {
    background-color: #45a049;
  }
  
  li button + button {
    background-color: #f44336; /* Rood voor verwijderen */
  }
  
  li button + button:hover {
    background-color: #e53935;
  }


  